body{
    font-family: Poppins;
    width: 1440px;
  height: 6411px;
}
.header {
    width: 1440px;
  height: 90px;
    background-color: #ffffff;

}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  height: 90px;
  padding: 0 120px;
}

/* Логотип */
.logo {
   width: 220px;
  height: 19px;
}
/* Навигационное меню */
.nav2 {
    position: relative;
    gap: 33px;
    display: flex;
    list-style: none;
    width: 584.8px;
  height: 50px;
  left:-36px;
  top:12px;
  
}

.nav2 a {
    list-style-type:none ;
  text-decoration: none;
    height: 24px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #1b1a1a;
}
.header-btn{
position: relative;
width: 155px;
  height: 46px;
  border-radius: 15px;
  background-color: #1b1a1a;
  bottom: 11px;
}
.header-btn span{
    width: 115px;
  height: 24px;
    position: relative;
    top:2.2px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
}
.header-main{
    max-width: 1440px;
    height: 720px;
     background-color: #ece7e4;
}
.two-column{
  display: flex;
  align-items: flex-start;
}
.text-column{
 width: 720px;
 justify-content: center;
 align-items: center;
}
.img-column{
  position: relative;
  flex: 1;
right: 31px;
}
.text-column{
  position: relative;
  left: 67px;
  top: 119px;
}
.wish{
  position: relative;
letter-spacing:0.7px ;
top: 0;
}
.text-column h1{
  position: relative;
  bottom: 24px;
font-weight: 400;
font-size: 64px;
width: 400px;
line-height: 70px;
}
.text-column p{
  position: relative;
  width: 510px;
  bottom: 47px;
}
.text-column span{
  position: relative;
  bottom:23px;
  left:26px;
  letter-spacing: 0.4px;
}
#about{
  width: 1440px;
  height: 782px;
  padding: auto;
  display: grid;
  grid-template-columns: 40% 60%;
}
.section-title{
  position: relative;
  top: 65px;
  left: 303px;
}
.section-title h2{
font-size: 32px;
font-weight:500;
}
.section-content{
  width: 470px;
  position: relative;
  top: 84px;
  right: 5px;
}
.section-content p1{
  position: relative;
  bottom: 6px;
}
.p1{
    position: relative;
    bottom: 12px;
}
.profile-card{
width: 501.3px;
height: 100px;
display: flex;
gap:30px;
}
.profile-card img{
position: relative;
width: 75px;
height: 75px;
border-radius: 64%;
border: 4px solid #a69d9d;
bottom: 10px;
}
.profile-info h3{
  position: relative;
  font-weight: 400;
  font-size: 17.2px;
  bottom: 5px;
}
.profile-info p{
  position: relative;
  font-weight: 400;
  font-size: 14px;
  bottom: 29px;

}
.reeding{
  width: 1440px;
  height: 600px;
  overflow: hidden;
position: relative;
}

.reeding img{
  position: relative;
  width: 1440px;
  height: auto;
 bottom: 150px;
 right: 32px;
}
.reeding-info{
  z-index: 3;;
}
.reeding-info h3{
z-index: 2;
}