body{
    font-family: Poppins;
    width: 1440px;
  height: 6411px;
}
.header {
    width: 1440px;
  height: 90px;
    background-color: #ffffff;
    position: sticky;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  height: 90px;
  padding: 0 120px;
}

/* Логотип */
.logo {
   width: 220px;
  height: 19px;
}
/* Навигационное меню */
.nav2 {
    position: relative;
    gap: 33px;
    display: flex;
    list-style: none;
    width: 584.8px;
  height: 50px;
  left:-36px;
  top:12px;
}
.nav2 a {
    
    height: 24px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #1b1a1a;
}
.header-btn{
position: relative;
width: 155px;
  height: 46px;
  border-radius: 15px;
  background-color: #1b1a1a;
  bottom: 11px;
}
.header-btn span{
    width: 115px;
  height: 24px;
    position: relative;
    top:2.2px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
}