body{
    font-family: Poppins;
    width: 1440px;
  height: 6411px;
  margin: 0 120px;
}
.header {
    width: 1440px;
  height: 90px;
    background-color: #ffffff;

}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  height: 90px;
  padding: 0 120px;
}

/* Логотип */
.logo {
   width: 220px;
  height: 19px;
}
/* Навигационное меню */
.nav2 {
    position: relative;
    gap: 33px;
    display: flex;
    list-style: none;
    width: 584.8px;
  height: 50px;
  left:-36px;
  top:12px;
  
}

.nav2 a {
    list-style-type:none ;
  text-decoration: none;
    height: 24px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #1b1a1a;
}
.header-btn{
position: relative;
width: 155px;
  height: 46px;
  border-radius: 15px;
  background-color: #1b1a1a;
  bottom: 11px;
}
.header-btn span{
    width: 115px;
  height: 24px;
    position: relative;
    top:2.2px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
}
.header-main{
    max-width: 1440px;
    height: 720px;
     background-color: #ece7e4;
}
.two-column{
  display: flex;
  align-items: flex-start;
}
.text-column{
 width: 720px;
 justify-content: center;
 align-items: center;
}
.img-column{
  position: relative;
  flex: 1;
right: 31px;
}
.text-column{
  position: relative;
  left: 67px;
  top: 119px;
}
.wish{
  position: relative;
letter-spacing:0.7px ;
top: 0;
}
.text-column h1{
  position: relative;
  bottom: 24px;
font-weight: 400;
font-size: 64px;
width: 400px;
line-height: 70px;
}
.text-column p{
  position: relative;
  width: 510px;
  bottom: 47px;
}
.text-column span{
  position: relative;
  bottom:23px;
  left:26px;
  letter-spacing: 0.4px;
}
#about{
  width: 1440px;
  height: 782px;
  padding: auto;
  display: grid;
  grid-template-columns: 40% 60%;
}
.section-title{
  position: relative;
  top: 65px;
  left: 303px;
}
.section-title h2{
font-size: 32px;
font-weight:500;
}
.section-content{
  width: 470px;
  position: relative;
  top: 84px;
  right: 5px;
}
.section-content p1{
  position: relative;
  bottom: 6px;
}
.p1{
    position: relative;
    bottom: 12px;
}
.profile-card{
width: 501.3px;
height: 100px;
display: flex;
gap:30px;
}
.profile-card img{
position: relative;
width: 75px;
height: 75px;
border-radius: 64%;
border: 4px solid #a69d9d;
bottom: 10px;
}
.profile-info h3{
  position: relative;
  font-weight: 400;
  font-size: 17.2px;
  bottom: 5px;
}
.profile-info p{
  position: relative;
  font-weight: 400;
  font-size: 14px;
  bottom: 29px;

}
.reeding{
  width: 1440px;
  height: 600px;
  overflow: hidden;
position: relative;
}

.reeding img{
  position: relative;
  width: 1440px;
  height: auto;
 bottom: 150px;
 right: 32px;
}
/*/////////////////////////*/
.reeding-info{
  position: relative;
  z-index: 3;;
}
.reeding-info h3{
z-index: 2;
}
.process{
  position: relative;
  width: 100%;
  height: 581px;
  text-align: center;
  right: 53px;
}
.text-process{
  margin: -15px;
  position: relative;
  right:-21px;
  bottom: 3px;
  top: 108px;
}
.text-process h2{
  font-size: 16.9px;
  font-weight: 500;
  line-height: 5px;
}
.text-process p{
  font-size: 38.9px;
  font-weight: 450;
}
.process-steps{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right:-20px;
  bottom: 49px;
  gap: 8px;
    top: 150px;
}
.step{
  width:387.7px;
  height:259px;
}
.step h3{
  font-size: 17.5px;
  font-weight: 500;
  margin: 8px;
}
.step p{
  width: 288px;
  margin: 10px 51px;
}
.stepp1{
  position: relative;
left: -2px;
}
.stepp3{
  position: relative;
left: px;
letter-spacing: -0.46px;
}
.MARBLE{
  width: 1407px;
  height: 600px;
  overflow: hidden;
}
.MARBLE img{
position: relative;
bottom: 187px;
right: 85px;
}
/*////////////////////////*/
.clients-section{
  width: 1407px;
  height: 410px;
 background-color: #403e3b;
}
.container{
  width:1168px ;
  height: 290px;
  display: flex;
  justify-content: center;
 align-items: center;
}
.clients-title{
  height: 160px;
  width: 460px;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 186px;
  top: 23px;
}
.clients-title h1{
  color: #fff;
  font-weight: 500;
  font-size: 31px;
  letter-spacing: 0.5px;
}
.clients-title h2{
  color: #fff;
  position: relative;
  font-weight:500 ;
  letter-spacing: 0.7px;
  font-size: 16px;
  top: 32px;
}
.clients-title p{
  color: #fff;
  position: relative;
  width: 451px;
  font-size: 15px;
  bottom: 10px;
}
.clients-grid{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  width: 432px;
  height: 290px;
}
.SWIRLING{
  width: 1407px;
  height: 600px;
  overflow: hidden;
}
.SWIRLING img{
position: relative;
bottom: 185px;
right: 145px;
}
.featured-project{
  width: 1407px;
  height: 918px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.featured-project-main{
  height: 698px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 0 103px;
}
.featured-project h2{
  font-size: 39px;
  font-weight: 400;
  position: relative;
  top: 74px;
  left: 1px;
}
.featured-subtitle{
  position: relative;
  top: 48px;
  left: 1px;
  width: 581px;
  font-size: 24px;
  line-height: 29px;
}
.featured-img{
  width:1168px;
  height: 460px;
  position: relative;
  top: 69px;
  left: 3px;
}
.featured-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:17px;
}
.featured-img img{
  width: 375px;
  height: 456px;
}
.view-all{
  position: relative;
  top: 120px;
  left: 520px;
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.4px;
}
/*////////////////////////////////*/
.newyork1{
  position: relative;

}
.newyork2{
  position: relative;

}
.btn-readmore{

}
/*/////////////////////*/
.team{
  height: 592px;
  justify-content: center;
  align-items: center;
}
.Meet-container{
  margin:0 105px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  height: 1168px;
  height: 392px;
}
.member-photo img{
position: relative;
width: 75px;
height: 75px;
border-radius: 64%;
border: 4px solid #a69d9d;
bottom: 10%;
}
.team-member{
  position: relative;

}
.contact-section{
height: 314px;
width: 1390px;
justify-content: center;
align-items: center;
}
.contact-section h2{
  position: relative;
  font-weight: 400;
  font-size:15px ;
  left: 7.5%;
  top: 27.4%;
letter-spacing: 1.5px;
}
.contact-section p{
position: relative;
  font-weight: 400;
  font-size:37.4px ;
  width: 570px;
  left: 7.5%;
  top: 13.4%;
letter-spacing: 1.36px;
line-height: 113%;
}
.contact-btn{
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  position: relative;
  left:82.6%;
  bottom: 15.5%;
  letter-spacing: 0.3px;
}
footer{
  height: 204px;
}
.footer-brand{
  position: relative;
  font-size: 25.5px;
  font-weight: 600;
  left: 7.2%;
  top: 21.6%;
}
.footer-info{
  position: relative;
  left: 7.2%;
  top: 24.3%;
  font-size: 14px;
  line-height: 34%;
}
.foter-img{
  position: relative;
  left: 80%;
  top: 5.1%;
  width: 130px;
}
.foter-img img{
  margin: 8px;
}
