body{
    font-family: Poppins;
    width: 1440px;
  height: 6411px;
}
.header {
    width: 1440px;
  height: 90px;
    background-color: #ffffff;

}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  height: 90px;
  padding: 0 120px;
}

/* Логотип */
.logo {
   width: 220px;
  height: 19px;
}
/* Навигационное меню */
.nav2 {
    position: relative;
    gap: 33px;
    display: flex;
    list-style: none;
    width: 584.8px;
  height: 50px;
  left:-36px;
  top:12px;
  
}

.nav2 a {
    list-style-type:none ;
  text-decoration: none;
    height: 24px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #1b1a1a;
}
.header-btn{
position: relative;
width: 155px;
  height: 46px;
  border-radius: 15px;
  background-color: #1b1a1a;
  bottom: 11px;
}
.header-btn span{
    width: 115px;
  height: 24px;
    position: relative;
    top:2.2px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
}
.header-main{
    max-width: 1440px;
    height: 720px;
}
.two-column{
  display: flex;
  align-items: flex-start;
}
.text-column{
 width: 720px;
 justify-content: center;
 align-items: center;
}
.img-column{
  position: relative;
  flex: 1;
right: 31px;
}
.text-column{
  position: relative;
  left: 67px;
  top: 119px;
}
.wish{
  position: relative;
letter-spacing:0.7px ;
top: 0;
}
.text-column h1{
  position: relative;
  bottom: 24px;
font-weight: 400;
font-size: 64px;
width: 400px;
line-height: 70px;
}
.text-column p{
  position: relative;
  width: 510px;
  bottom: 47px;
}
.text-column span{
  position: relative;
  bottom:23px;
  left:26px;
  letter-spacing: 0.4px;
}